<!doctype html>
<html lang="en" ng-app="ngGradebookApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title"></title>
    <link rel="stylesheet" href="app/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="app/style.css"/>
    <style>[ng-cloak] { display:none !important; }</style>
</head>
<body ng-controller="Students" ng-cloak>
    <div class="container">
        <h1>Grade Book</h1>
        <p>Super simple test score calculation</p>
        <div class="row">
            <h2>Test Scores</h2>
        </div>
        <div class="row headings">
            <div class="col-sm-3"><span>First</span></div>
            <div class="col-sm-3"><span>Last</span></div>
            <div class="col-sm-3"><span>Grade</span></div>
            <div class="col-sm-3"><span>Actions</span></div>
        </div>
        <form name="updateStudentsForm" novalidate ng-submit="updateStudent()">
            <div class="row list"
                 ng-repeat="student in students track by $index"
                 ng-class="{'failing' : student.grade < 65, 'passing' : student.grade >= 65, 'excelling' : student.grade > 90}">
                <div class="col-sm-3">
                    <span ng-bind="student.firstName"
                          ng-hide="isEditing && isEditingItem($index)"
                          ng-click="clearAddFormValidation();editStudent(student, $index)"></span>
                    <label class="visually-hidden" for="{{$index}}.{{student.firstName}}">First Name</label>
                    <input type="text"
                           name="{{$index}}.{{student.firstName}}"
                           id="{{$index}}.{{student.firstName}}"
                           required
                           ng-model="student.firstName"
                           ng-show="isEditing  && isEditingItem($index)"/>
                </div>
                <div class="col-sm-3">
                    <span ng-bind="student.lastName"
                          ng-hide="isEditing && isEditingItem($index)"
                          ng-click="clearAddFormValidation();editStudent(student, $index)"></span>
                    <label class="visually-hidden" for="{{$index}}.{{student.lastName}}">Last Name</label>
                    <input type="text"
                           name="{{$index}}.{{student.lastName}}"
                           id="{{$index}}.{{student.lastName}}"
                           required
                           ng-model="student.lastName"
                           ng-show="isEditing  && isEditingItem($index)" />
                </div>
                <div class="col-sm-3">
                    <span ng-bind="student.grade"
                          ng-hide="isEditing && isEditingItem($index)"
                          ng-click="clearAddFormValidation();editStudent(student, $index)"></span>
                    <label class="visually-hidden" for="{{$index}}.{{student.grade}}"></label>
                    <input type="number"
                           name="{{$index}}.{{student.grade}}"
                           id="{{$index}}.{{student.grade}}"
                           required
                           ng-model="student.grade"
                           ng-show="isEditing  && isEditingItem($index)" />
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default btn-sm"
                            ng-hide="isEditing && isEditingItem($index)"
                            ng-click="clearAddFormValidation();editStudent(student, $index)">Edit</button>
                    <button class="btn btn-default btn-sm"
                            ng-show="isEditing && isEditingItem($index)"
                            ng-click="cancelEdit($index)">Cancel</button>
                    <button class="btn btn-danger btn-sm"
                            ng-hide="isEditing && isEditingItem($index)"
                            ng-click="clearAddFormValidation();deleteStudent($index)">Delete</button>
                    <button class="btn btn-success btn-sm"
                            type="submit"
                            ng-show="isEditing && isEditingItem($index)"
                            ng-click="updateStudent(student, $index)">Save</button>
                </div>
            </div>
        </form>
        <div class="row add-student-form">
            <form ng-submit="addStudent()" novalidate name="addStudentForm">
                <div class="col-sm-3">
                    <label class="visually-hidden" for="newStudentFirstName">New First Name</label>
                    <input type="text"
                           name="newStudentFirstName"
                           id="newStudentFirstName"
                           ng-model="student.firstName"
                           placeholder="First Name"
                           tabindex="1"
                           focus-on-save
                           autofocus
                           required/>
                </div>
                <div class="col-sm-3">
                    <label class="visually-hidden" for="newStudentLastName">New Last Name</label>
                    <input type="text"
                           name="newStudentLastName"
                           id="newStudentLastName"
                           ng-model="student.lastName"
                           placeholder="Last Name"
                           tabindex="2"
                           required/>
                </div>
                <div class="col-sm-3">
                    <label class="visually-hidden" for="newStudentGrade">Grade</label>
                    <input type="number"
                           name="newStudentGrade"
                           id="newStudentGrade"
                           ng-model="student.grade"
                           placeholder="Grade"
                           tabindex="3"
                           required
                           ng-blur="addStudent()"/>
                </div>
                <input type="submit" class="hidden-submit"/>
            </form>
            <div class="col-sm-3 test-data">
                <span class="test-data-label">Min: </span>
                    <span class="test-data-number min" ng-bind="grades.min | percentage:0"></span>
                <span class="test-data-label">Avg: </span>
                    <span class="test-data-number avg" ng-bind="grades.avg | percentage:0"></span>
                <span class="test-data-label">Max: </span>
                    <span class="test-data-number max" ng-bind="grades.max | percentage:0"></span>
            </div>
        </div>
    </div>
    <script src="app/vendor/lodash.min.js"></script>
    <script src="app/vendor/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/app_constant.js"></script>
    <script src="app/app_run.js"></script>
    <script src="app/students.js"></script>
    <script src="app/focus-on-save.js"></script>
    <script src="app/percentage-filter.js"></script>
    <script src="app/students-service.js"></script>
    <script src="app/grades-service.js"></script>
</body>
</html>