.headings {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.list {
  border-bottom: 1px dotted #ccc;
}
.list:last-of-type {
  border-bottom:2px solid black;
}
.hidden-submit {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}